<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Flask</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function SendPost(){
	var json = document.getElementById("data").textContent;
	console.log(json);
    $.ajax({
       beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    },
	   url: "/payment/status/",
	   method: "POST",
	   contentType: "application/json; charset=utf-8",
	   data: json,
	   async: false,
	   dataType: "json",
	   success: function(data) {
	     json.innerHTML = data;
	     alert(data.result);
	   }
});
};
    </script>
</head>
<body>
	{% block main %}
	{% if error %}
		<p>{{error}}</p>
	{% elif checkPoint %}
	    {% if context %}
	        <p>JSON:</p>
	        <br/>
    	    <div id="data">{{context}}</div>
            <br/>
            <p><a href = 'javascript:SendPost()' id="post">{% csrf_token %}Оплатить</a></p>
		{% else %}
    		<form name="Pay" method="POST" action="https://tip.pay-trio.com/ru/"
    			accept-charset="UTF-8">
    		    {{form.as_p}}
			    <p><input type="submit" value="ОТПРАВИТЬ"></p>
		    </form>
		{% endif %}
	{% else %}
		<form name="Pay" method="post" action="/payment/" accept-charset="UTF-8">{% csrf_token %}
			<p><label for="amount">Amount  </label>{{form.amount}}</p>
			<p><label for="description">Description  </label>{{form.description}}</p>
			<p><label for="currency">Currency  </label>
			<select title="from" name="currency">
                {% for x,y in form.currency.field.choices %}
                	<option value="{{x}}">{{ y }}</option>
                {% endfor %}
            </select></p>
			<p>
				<input type="submit" value="ОТПРАВИТЬ">
			</p>
		</form>
	{% endif %}
	{% endblock %}
</body>
</html>
